@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Housing Price Prediction</h1>
    <p>If you would like to see the predicted price of a property, please click below to provide property information.</p>
    <a asp-controller="HousingInformation" asp-action="Index">Click here to input Housing Information.</a>
</div>
